#features {
    background-image: url("../img/features.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#features h1 {
    color: white;
    margin: 0;
    text-align: center;
    padding: 20px 0;
}

#features table {
    align-content: center;
    width: 100%;
}

#features th {
    width: 33%;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 25px;
}

#features td {
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 2% 5%;;
}